
.home-body {
    display: flex;
    justify-content: space-evenly;
    padding : 4rem 1.6rem;
    height: 100vh;
    background-image: url('../assets/bg-university.avif');
}

.home-body .left {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    height: fit-content;
    align-self: center;
    padding: 2rem;
    border: solid black 2px;
    border-radius: 12px;
}
.home-body .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: bisque;
    height: fit-content;
    align-self: center;
    padding: 2rem;
    border: solid black 2px;
    border-radius: 12px;
}
.right img {
    border: solid gray 1px;
    height: 600px;
    width: 600px;
    box-shadow: 8px 6px gray;
}
.arrowleft, .arrowright {
    background-color: gray;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    font-size: 1.6rem;
}
.btn {
    font-size: 1.2rem;
    background: gray;
    color: white;
    padding : 1rem ;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 2rem;
}