
.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    background-image: url('../assets/bg-university.avif');
    padding : 2rem;
}
.upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 241, 224);
    width: 40%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border : solid black 2px;
    border-bottom: none;
}
.auth-google {
    display: flex;
    margin-top: 3rem;
}
.logo-google {
    background-color: rgb(170, 168, 168);
    height: 1.84rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: gray solid 1px;
    border-bottom: gray solid 1px;
    border-left: gray solid 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.btn-google {
    height: 2rem;
    width: 10rem;
    font-size: 1rem;
    background-color: rgb(54, 54, 236);
    color: white;
    border-top: gray solid 1px;
    border-bottom: gray solid 1px;
    border-right: gray solid 1px;
    border-left: solid gray 0.3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
.middle {
    display: flex;
    align-items: center;
    margin-top : 1rem;
}
.cadenas {
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.lower {
    width: 40%;
    padding : 2rem 0;
    background-color: rgb(255, 241, 224);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border : solid black 2px;
    border-top: none;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    width: 60%;
}
.form .row1, .form .row2 {
    display: flex;
    flex-direction: column;
    padding : 1rem 0;
    width: 100%;
}
.form input {
    height: 1.8rem;
    width: 26rem;
    border : black solid 0.8px;
    padding-left : 1rem;
    margin-top : 2px;
    margin-bottom: 0.4px;
    border-radius: 8px;

}
.submit-btn {
    height: 2rem;
    width: 60%;
    font-size: 0.9rem;
    color: white;
    background-color: gray;
    border: solid white 1px;
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
}
.password-forgotten{
    text-decoration: underline;
}

.errorMsg {
    color: red;
    font-size: 0.8rem;
    padding: 0;
    margin-top:0.4px;
}