.big-container-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-image: url("../assets/Background.png");
}
.profile-container {
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}
.left-section {
    padding : 1rem 2rem;
    background-color: white;
    border: solid black 2px;
    border-radius: 12px;
    width: 50%;
    height: 30rem;
    display: flex;
    justify-content: center;
}
.student-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.img-container {
    margin-right: 18px;
    padding : 1.5rem;
    width: 17rem;
    height: 15rem;
    margin-bottom: 2rem;
}
.img-container img {
    height: 15rem;
    border : gray 1px solid;
    border-radius: 50%;
    z-index: 20;
    image-resolution:initial;
}
.camera{
    margin-left : 11rem;
    background-color: gray;
    padding : 3px;
}
.camera-container {
    z-index : 30;
    position: relative;
    bottom: 30px;
    right: 4px;
}
.student-data .name,.student-data .email,.student-data .filiere, .student-data .promo {
    display: flex;
    align-items: center;
    margin-left : 10px;
}
.student-data {
    padding : 1rem;
    border-radius: 10px;
}
.student-data strong {
    margin-right: 10px;
}
.student-data p {
    font-size: 18px;
    font-weight: 600;
}
.right-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding : 2rem;
    height: 30rem;
    width: 30%;
    align-items: center;
}
.deconnecter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.6rem;
    padding: 0.5rem;
    background-color: rgba(103,54,34,255) ;
    border-radius: 16px;;
}
.modify-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.6rem;
    padding: 0.5rem;
    background-color: rgba(143,142,142,255) ;
    border-radius: 16px;
}
.change-password {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.6rem;
    padding: 0.5rem;
    background-color: rgba(255,145,77,255) ;
    border-radius: 16px;
}
.right-section .btn {
    height: fit-content;
    width : 14rem;
    color : white;
    margin: 0;
    background-color: rgba(143,142,142,255);
}
.right-section .btn1 {
    height: fit-content;
    width : 14rem;
    color : white;
    margin: 0;
    background-color: rgba(255,145,77,255);
    font-size: 20px;
}
.right-section .btn2 {
    height: fit-content;
    width : 14rem;
    color : white;
    margin: 0;
    background-color: rgba(103,54,34,255);
    font-size: 20px;
}

.form-update-user-profile {
    background-color: red;
}
.form-update-userprofile {
    width: fit-content;
}
.form-update-userprofile .row {
    margin-bottom: 0.4rem;
    height: fit-content;
}
.form-update-userprofile .row div {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.form-update-userprofile .row button {
    background-color: rgb(27, 26, 26);
    color: white;
    width: 8rem;
    padding: 1rem;
    border-radius: 8px;
    border : solid white 2px;
    margin : 2rem 0;
    cursor: pointer;
}
.notification-update-profile {
    display:  flex;
    align-items: center;
    padding: 2rem 1rem;
    background-color: rgb(136, 248, 106);
    justify-content: space-between;
    width: 40%;
    border-radius: 10px;
    border : solid rgb(136, 248, 136) 1px;
    margin-bottom: 3rem;
    height: 2rem;
}
.notification-update-profile p {
    margin: 0;
}
.error-update-profile {
    display:  flex;
    align-items: center;
    padding: 2rem 1rem;
    background-color: rgb(240, 106, 106);
    justify-content: space-between;
    width: 40%;
    border-radius: 10px;
    border : solid rgb(240, 106, 106) 1px;
    margin-bottom: 3rem;
}
.error-update-profile span {
    cursor: pointer;
}
.notification-update-profile span {
    cursor: pointer;
}
.update-password-user {
    display: flex;
    flex-direction: column;
}
.update-password-user .row {
    margin-bottom: 0.5rem;
    height: fit-content;
    width: 100%;
}
.update-password-user .row input {
    width: 100%;
}
.update-password-user .last-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    cursor: pointer;
}
.update-password-user .last-row button {
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    align-self: center;
    margin-top: 2rem;
    width: 8rem;
    cursor: pointer;
}