
.registration-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/Background.png');
    background-size: cover;
    padding : 2rem;
}
.registration-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    color: rgb(73, 72, 72);
    
}
.registration-head h3 {
    text-decoration: underline;
    font-size: 26px;
    cursor: pointer;
}
.registration-head h2 {
    padding : 1rem;
    font-size: 36px;
}

.registration-foot {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding : 0rem 0;
}
.registration-foot form div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom : 0.3rem;
    padding : 0 1rem;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form label {
    font-size: 1rem;
    font-weight: bold;
}

form input {
    height: 2.1rem;
    width: 26rem;
    border: solid black 1px;
    border-radius: 8px;
    margin-top : 0.3rem;
    padding-left: 1rem;
}

.register-btn {
    height: fit-content;
    padding: 0.6rem ;
    font-size: 18px;
    width: 60%;
    color: white;
    background-color: rgb(63, 62, 62);
    border: solid white 2px;
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
    margin-top: 1rem;
}
.error-text {
    color: red;
    font-size: 0.8rem;
    padding-top : 4px;
}