

.single-friend {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(43, 42, 42);
    justify-content: space-between;
    padding: 0.3rem 1rem;
    border :solid black 2px;
    color: white;
    cursor: pointer;
    height: fit-content;
    border-radius: 10px;
    margin-bottom: 0.3rem;
}
.profile-avatar img{
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    top:0;
    left: 0;
    margin: 0;
    border-radius: 50%;
}
.profile-avatar div  {
    z-index: 9;
    height: 0.6rem;
    width: 0.6rem;
    border: solid black 2px;
    margin-left: 2rem;
    margin-top: 1.8rem;
    border-radius: 50%;
}
.profile-avatar {
    display: flex;
    position: relative;
    margin: 0;
}
.profile-avatar .en-ligne {
    background-color: greenyellow;
}
.profile-avatar .hors-ligne {
    background-color: rgb(163, 161, 161);
}
.single-friend p {
    font-size: 18px;
    font-weight: 300;
}